/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    flex: 1;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4f4f4;
    background-color: #555;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

main {
    padding: 20px;
    flex: 1;
}

/* Seção de Apresentação */
#sobre {
    text-align: center;
    padding: 50px 0;
    background-color: #eee;
}

#sobre h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Seção de Projetos */
.galeria-projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria-projetos article {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.galeria-projetos img {
    max-width: 100%;
    height: auto;
}

/* Seção de Contato */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Tabela de Habilidades */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    /*  position: absolute; */
    margin-top: auto;
    width: 100%;
    bottom: 0;
}
